

h1, h2 { background: rgb(221, 216, 216);
    color: #752f13bc;
}



nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    transition: all 0.3s;
}

nav ul li a:hover {
    background-color: gray;
    color: #fff;
    border-radius: 5px;
}
























