

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
    line-height: 1.6;
}


.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}




nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    transition: all 0.3s;
}

nav ul li a:hover {
    background-color: gray;
    color: #fff;
    border-radius: 5px;
}


header h1 {
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #752f13bc;
    background: rgb(221, 216, 216);
}

header p {
    font-size: 1.1rem;
    
}

img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
}


.aside-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

aside {
    
    padding: 5px 10px;
    font-weight: bold;
    flex: 1;
    min-width: 150px;
}


section h2 {
    color: hsla(17, 72%, 27%, 0.737);

    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    background: rgb(221, 216, 216);
}


ul, ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
}


@media (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    
    .image-and-asides {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .image-and-asides img {
        flex: 1 1 400px;
    }

    .aside-container {
        flex: 1 1 300px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}


@media (max-width: 767px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .aside-container {
        flex-direction: column;
    }
}