h1 {color: orange}

h2 {font-size: 24px;
    color: rgb(255, 196, 0)}

h3 {font-size: 24px;
    color: rgb(255, 196, 0)}

h4 {font-size: 24px;
    color: rgb(255, 196, 0)}

h5 { font-size: 24px;
    color: rgb(255, 196, 0)}

    h6 {font-size: 24px;
    color: rgb(255, 196, 0)}


